#map {
    width: 500px;
    height: 400px;
}

:root {
    --bg: #071e36;
    --card-bg: #041221;
}

body {
    background: var(--bg);
}

.box {

    background: var(--card-bg);
}


.card {
    overflow: hidden;
    /* background: ghostwhite; */
    color: var(--bg);
}

.card.large {
    border-radius: 5px;
}

.title.no-padding {
    margin-bottom: 0 !important;
}

/* #location{
    display: none;
} */

p {
    color: white;
}

main {
    background: url("") center;
    background-size: cover;
    margin: 0;
}

.hero {
    background: url("/Users/nardge/bootcamp/project1/pro1/conciergo2/assets/images/bg.jpg") center;
    background-size: cover;
    position: relative;
}

body {
    margin: 0;
    border: 0;
}

.navbar-item {
    font-family: "Orbitron", sans-serif;
    color: #000;

}

.navbar .button {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.navbar-brand .navbar-item {
    font-family: "Orbitron", sans-serif;
    color: #000;
    font-size: 30px;
    letter-spacing: 1.5px;
}

.navbar-start .navbar-item .field .control .input {
    width: 500px;
    margin-left: 4rem;


}



.carousel-item .tile {
    background: url("https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-color: aliceblue;
}

#events {
    width: 600px;
    height: 900px;
}

.card-footer nav div span .button {
    border-top: 20px;
    border-bottom: 20px;
    border-radius: 50px;
}



